.Rproj.user
.Rhistory
*.RData
.Ruserdata 
not-relevant
misc
*.jpg
.vscode
.Rpackages
*.o
R_libs_4.3.1
*.html
sim-nodscov2
*.gif
*.mp4
*.tar
*.zip
*.gz
*.tar.gz
infection-network_files
*.7z
*.DS_Store

# Raw and processed data
data/data-nodscov2/loc/
data/data-nodscov2/raw/
data/data-nodscov2/symmetrisation/
data/data-synthetic-graphs/full/
data/data-synthetic-graphs/biased/
data/data-synthetic-graphs/loc/*.csv
data/data-synthetic-graphs/full_0-1/
data/data-synthetic-graphs/full_0-5/
data/data-synthetic-graphs/full_0-5agenda/
data/data-synthetic-graphs/input/example

# Simulated data
out/final-simulations/
out/grid-search/
out/parameters-synthetic*.rda
out/old/

# Old codes
R/nodscov2/deprecated/

# Nextflow for cluster calculation
nextflow/

# Codes with paths used on the cluster
cluster/
exemple_suzel/

# Figures preprocessed data
fig/symmetrization/
fig/loc-reconstruction/individual-paths/

# I-Bird
data/data-i-bird/
R/i-bird/

