.Rproj.user
.Rhistory
*.RData
.Ruserdata 
not-relevant
misc
figures
*.jpg
*.png
*.csv
.vscode
.Rpackages
*.o
data-nodscov2
R_libs_4.3.1
*.html
sim-nodscov2
*.gif
*.mp4
*.tar
*.zip
*.gz
*.tar.gz
infection-network_files
*.7z

# Raw data
data/data-nodscov2/
data/data-synthetic-graphs/admission.csv
data/data-synthetic-graphs/agenda.csv
data/data-synthetic-graphs/interactions.csv
data/data-synthetic-graphs/patient_rooms.csv

# Processed data
out/input-synthetic-nodscov2/
out/loc-nodscov2/

# Simulated data
out/scenarios-analysis/



