.Rproj.user
.Rhistory
*.RData
.Ruserdata 
not-relevant
misc
figures
*.jpg
*.png
*.csv
.vscode
.Rpackages
*.o
data-nodscov2
R_libs_4.3.1
*.html
sim-nodscov2
*.gif
*.mp4
*.tar
*.zip
*.gz
*.tar.gz
infection-network_files
*.7z
*.DS_Store

# Raw and processed data
data/data-nodscov2/
data/data-synthetic-graphs/

# Simulated data
out/final-simulations/
out/grid-search/
out/parameters-synthetic*.rda

# Old codes
R/nodscov2/deprecated/

# Codes with paths used on the cluster
cluster/
exemple_suzel/

