//sur le cluster il n'y a pas docker, il faut mettre avec singularity
//local
// docker {
//	enabled = true
//    autoMounts = true
//    runOptions = '--home $HOMEhome$USER --bind pasteur'
//    runOptions = "--entrypoint ''"
//}


//cluster
params {
  config_profile_description = 'Institut Pasteur Maestro cluster profile'
  config_profile_url = 'https://research.pasteur.fr/en/equipment/maestro-compute-cluster/'
  config_profile_contact = 'ask-hpc@pasteur.fr'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '--home $HOME:/home/$USER --bind /pasteur'
}

report {
    enabled = true
    file = 'reports/report.html'
	overwrite = true
}

trace {
    enabled = true
    file = 'reports/trace.txt'
	overwrite = true
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
	overwrite = true
}

dag {
    enabled = true
    file = 'reports/dag.dot'
	overwrite = true
}

executor {
    name = 'slurm'
    queueSize = 3000
    pollInterval = '5 sec'
}

process {
    //local
    //executor='local'
    //scratch=false
    //maxRetries=1
    //errorStrategy='retry'
    //container="mlayan/r-extended-cpp:latest" 
	
	//pour le cluster
	executor='slurm'
	scratch=false
	maxRetries=5
	container="mlayan/r-extended-cpp:v4.3.0" 
	
	withName: 'generation_param' {
	  queue='common,dedicated' 
	  clusterOptions='--qos=fast'
	  errorStrategy='retry'
	}
	
	//withName: 'simulation' {
	//  queue='common,dedicated' 
	//  clusterOptions='--qos=fast'
	//}
	
	
	withName: 'stat_simu' {
	  queue='common' 
	  clusterOptions='--qos=fast'
	  memory = '1 GB' 
	  errorStrategy='retry'
	} 
}


